<form class="auth-form" novalidate [formGroup]="formGroup" (ngSubmit)="onSendVerifyEmail($event)" #form="ngForm">
  <aj-message *ngIf="message" [data]="message"></aj-message>
  <div [hidden]="!showInput" class="auth-input-group-no-border">
    <aj-input
      [inputData]="formElements.username"
      (bindControl)="onBindControl($event)"
      (clicked)="onClicked($event)">
    </aj-input>
  </div>
  <div [hidden]="!showInput" class="auth-btn-container">
    <button
      class="auth-btn"
      [disabled]="!isValid()"
      [ngClass]="{'disabled': !isValid()}"
      type="submit">
      {{formElements.submitButton.display | translate}}
    </button>
  </div>
</form>
