<mat-card>
  <mat-card-header *ngIf="widthIsMedium()">
    <span>{{title | translate}}</span>
  </mat-card-header>
  <mat-card-content>
    <mat-sidenav-container class="eventrelated-sidenav-container">
      <mat-sidenav
        #sidenav
        [mode]="menuMode"
        class="eventrelated-sidenav"
        [opened]="menuOpenedDefault">
        <aj-eventrelatedmenu></aj-eventrelatedmenu>
      </mat-sidenav>
      <router-outlet></router-outlet>
    </mat-sidenav-container>
  </mat-card-content>
</mat-card>
