<mat-form-field [floatPlaceholder]="getFloatingMode()">
  <div class="select-input-clicker" (click)="onClicked($event)"></div>
  <mat-chip-list #chipList>
    <mat-chip
      *ngFor="let chip of chips; let i = index"
      [selectable]="data.chipOptions.selectable"
      [removable]="data.chipOptions.removable"
      (remove)="removeChipAt(i)">
      {{chip.display | translate}}
      <mat-icon matChipRemove *ngIf="data.chipOptions.removable">cancel</mat-icon>
    </mat-chip>
  </mat-chip-list>
  <input
    #selectInput
    matInput
    validateonblur
    [formControl]="formControl"
    placeholder="{{data.placeHolder | translate}}"
    readonly="{{data.readOnly ? 'true' : 'false'}}"
    (blur)="onBlur()"
    (focus)="onFocus()"
    [ngClass]="{'noFocus': !inputFocused && chips.length > 0}"
    [matChipInputFor]="chipList"
    [matChipInputSeparatorKeyCodes]="chipKeyCodes"
    [matChipInputAddOnBlur]="data.chipOptions.addOnBlur"
    (matChipInputTokenEnd)="addChip($event)">

  <!--<mat-placeholder>{{data.placeHolder | translate}}</mat-placeholder>-->
  <button
    mat-icon-button
    matSuffix
    type="button"
    class="select-toggle-button"
    [ngClass]="{'expanded': !collapsed}"
    (click)="toggle()">
    <aj-icon [data]="data.toggleButton.icon"></aj-icon>
  </button>
  <mat-error *ngIf="validateFailed()">
    {{getValidatorError() | translate}}
  </mat-error>
  <mat-hint>
    {{data.hint | translate}}
  </mat-hint>
</mat-form-field>

<div class="select-options-container" [ngStyle]="{'margin-top': data.hint ? '10px' : 0}" [@tdCollapse]="collapsed">
  <mat-checkbox
    *ngFor="let selectItem of data.selectList; let i = index"
    class="select-options"
    [name]="selectItem.name"
    [color]="'primary'"
    [tabIndex]="i"
    [disableRipple]="true"
    [(ngModel)]="selectItem.value"
    (change)="onSelectChange($event)">
    {{selectItem.display | translate}}
  </mat-checkbox>
</div>
