mat-form-field {
  width: 100%;
  margin: 3px 0 3px;
}

.select-input-clicker {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.select-toggle-button {
  height: 30px;
  width: 30px;
  text-align: center;
  transition: all 0.3s ease-in-out;
}
.select-toggle-button.expanded {
  transform: rotate(-180deg);
}

mat-chip {
  line-height: 14px;
  border-radius: 16px !important;
  padding: 4px 8px !important;
  margin-top: 1px !important;
  //margin-bottom: 2px !important;
}
mat-chip .mat-icon {
  width: 18px !important;
  height: 18px !important;
  font-size: 18px !important;
  line-height: 18px !important;
  margin-left: 2px !important;
}

:host /deep/ {
  .select-toggle-button mat-icon {
    font-size: 26px !important;
    width: 30px;
    height: 30px !important;
    line-height: 30px !important;
    margin-right: 0;
  }
  mat-form-field .mat-form-field-flex {
    align-items: flex-end !important;
  }
  mat-form-field .mat-form-field-infix {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 3px;
  }
  mat-form-field.mat-focused .mat-form-field-ripple {
    transform: none;
    transition: none;
    height: 1px;
    background-color: rgba(0, 0, 0, .12) !important;
  }
}

mat-form-field input {
  flex: auto;
  width: 0;
  min-width: 50px;
}
mat-form-field input.noFocus {
  height: 0;
}

.select-options-container {
  margin-bottom: 40px;
}
.select-options {
  margin: 0 10px;
}
