<mat-form-field (mousedown)="onMouseDown($event)">
  <div *ngIf="data.readOnly" class="datepicker-input-clicker" (click)="onTriggerClicked($event)"></div>
  <input
    matInput
    validateonblur
    [formControl]="formControl"
    placeholder="{{placeHolder}}"
    (click)="onClicked($event)"
    [(ngModel)]="inputValue"
    (ngModelChange)="onInputChange($event)">
  <button
    *ngIf="inputValue && inputValue.trim() !== ''"
    mat-icon-button
    matSuffix
    type="button"
    class="datepicker-input-button"
    (click)="clearInput($event)">
    <aj-icon [data]="elements.clearButton.icon"></aj-icon>
  </button>
  <button
    mat-icon-button
    matSuffix
    type="button"
    class="datepicker-input-button"
    (click)="open($event)">
    <aj-icon [data]="elements.calButton.icon"></aj-icon>
  </button>
  <mat-error *ngIf="validateFailed()">
    {{getValidatorError() | translate}}
  </mat-error>
  <mat-hint>
    {{data.hint | translate}}
  </mat-hint>
</mat-form-field>
