<md-input-container (mousedown)="onMouseDown($event)">
  <div *ngIf="data.readOnly" class="datepicker-input-clicker" (click)="onTriggerClicked($event)"></div>
  <input
    mdInput
    validateonblur
    [formControl]="formControl"
    placeholder="{{placeHolder}}"
    (click)="onClicked($event)"
    [(ngModel)]="inputValue"
    (ngModelChange)="onInputChange($event)">
  <button
    *ngIf="inputValue && inputValue.trim() !== ''"
    md-icon-button
    mdSuffix
    type="button"
    class="datepicker-input-button"
    (click)="clearInput($event)">
    <aj-icon [data]="elements.clearButton.icon"></aj-icon>
  </button>
  <button
    md-icon-button
    mdSuffix
    type="button"
    class="datepicker-input-button"
    (click)="open($event)">
    <aj-icon [data]="elements.calButton.icon"></aj-icon>
  </button>
  <md-error *ngIf="validateFailed()">
    {{getValidatorError() | translate}}
  </md-error>
  <md-hint>
    {{data.hint | translate}}
  </md-hint>
</md-input-container>
