<mat-form-field [floatPlaceholder]="'always'">
  <mat-radio-group
    class="select-radio-group"
    [formControl]="formControl"
    [(ngModel)]="selected"
    (change)="onChange($event)">
    <mat-radio-button
      *ngFor="let item of data.selectList"
      class="select-radio-button"
      [color]="'primary'"
      [disableRipple]="true"
      [value]="item.name">
      {{item.display | translate}}
    </mat-radio-button>
  </mat-radio-group>

  <input matInput readonly="true" style="width: 0">

  <mat-placeholder>{{data.placeHolder | translate}}</mat-placeholder>

  <mat-error *ngIf="validateFailed()">
    {{getValidatorError() | translate}}
  </mat-error>
  <mat-hint>
    {{data.hint | translate}}
  </mat-hint>
</mat-form-field>

