<mat-icon
  *ngIf="data.avatar && !isSvgIcon()"
  mat-list-avatar
  [ngClass]="cssClass ? cssClass : ''"
  fontSet="{{isFontSet() ? data.type : ''}}"
  fontIcon="{{isFontSet() ? data.class : ''}}"
  [routerLink]="link ? link.param ? [link.path, link.param] : [link.path] : []">
  {{isMaterialIcon() ? data.class : ''}}
</mat-icon>

<mat-icon
  *ngIf="data.avatar && isSvgIcon()"
  mat-list-avatar
  [ngClass]="cssClass ? cssClass : ''"
  [svgIcon]="isSvgIcon() ? data.class : ''"
  [routerLink]="link ? link.param ? [link.path, link.param] : [link.path] : []">
</mat-icon>

<mat-icon
  *ngIf="!data.avatar && !isSvgIcon()"
  [ngClass]="cssClass ? cssClass : ''"
  fontSet="{{isFontSet() ? data.type : ''}}"
  fontIcon="{{isFontSet() ? data.class : ''}}"
  [routerLink]="link ? link.param ? [link.path, link.param] : [link.path] : []">
  {{isMaterialIcon() ? data.class : ''}}
</mat-icon>

<mat-icon
  *ngIf="!data.avatar && isSvgIcon()"
  [ngClass]="cssClass ? cssClass : ''"
  svgIcon="{{isSvgIcon() ? data.class : ''}}"
  [routerLink]="link ? link.param ? [link.path, link.param] : [link.path] : []">
</mat-icon>
