<md-card class="cal-card">
  <table class="header-table">
    <tr>
      <td [ngClass]="{'showToday': !calendarData.showTodayBtn}">
        <div class="header-side-cell">
          <button md-icon-button (click)="onPrevMonth()">
            <md-icon aria-label="Previous Month">chevron_left</md-icon>
          </button>
          <button md-button
                  class="header-side-cell-label"
                  (click)="onSelectMonthClicked($event)"
                  [@slideCalendar]="viewState"
                  (@slideCalendar.done)="resetViewState()">
            {{visibleMonth.monthTxt | translate}}
          </button>
          <button md-icon-button (click)="onNextMonth()">
            <md-icon aria-label="Next Month">chevron_right</md-icon>
          </button>
        </div>
      </td>
      <td>
        <button
          *ngIf="calendarData.showTodayBtn"
          md-button
          class="header-today-btn"
          (click)="onTodayClicked()">
          <md-icon
            fontSet="fa"
            fontIcon="fa-calendar-check-o">
          </md-icon>
          <span>{{calendarData.todayBtnTxt | translate}}</span>
        </button>
      </td>
      <td [ngClass]="{'showToday': !calendarData.showTodayBtn}">
        <div class="header-side-cell">
          <button md-icon-button (click)="onPrevYear()">
            <md-icon aria-label="Previous Year">chevron_left</md-icon>
          </button>
          <button md-button
                  class="header-side-cell-label"
                  (click)="onSelectYearClicked($event)"
                  [@slideCalendar]="viewState"
                  (@slideCalendar.done)="resetViewState()">
            {{visibleMonth.year}}
          </button>
          <button md-icon-button (click)="onNextYear()">
            <md-icon aria-label="Next Year">chevron_right</md-icon>
          </button>
        </div>
      </td>
    </tr>
  </table>
  <table *ngIf="selectorMode === SelectorMode.CALENDAR" class="cal-table">
    <thead>
      <tr>
        <th class="cal-header-cell" scope="col" *ngFor="let label of momentService.dayLabels">{{label | translate}}</th>
      </tr>
    </thead>
    <tbody [@slideCalendar]="viewState" (@slideCalendar.done)="resetViewState()">
      <tr *ngFor="let dateRow of dateTable">
        <td *ngFor="let dateCell of dateRow.week"
            class="cal-body-cell"
            [ngStyle]="{'cursor': dateCell ? 'pointer' : ''}"
            (click)="onCellClicked(dateCell, $event)">
          <div *ngIf="dateCell" class="cal-body-cell-content"
               [ngClass]="{'selected': isSelectedDate(dateCell),
                           'active': isActiveDate(dateCell),
                           'today': dateCell.isToday,
                           'marked' : dateCell.marked,
                           'highlighted': dateCell.highlighted,
                           'disabled': dateCell.disabled}">
            <span>{{dateCell.dateObj.day}}</span>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <table *ngIf="selectorMode === SelectorMode.MONTH" class="month-table">
    <tbody>
    <tr *ngFor="let monthRow of monthTable">
      <td *ngFor="let monthCell of monthRow"
          class="month-body-cell"
          (click)="onMonthCellClicked(monthCell, $event)">
        <div class="month-body-cell-content"
             [ngClass]="{'selected': isSelectedMonth(monthCell),
                         'active': isActiveMonth(monthCell),
                         'thismonth': monthCell.curMonth,
                         'disabled': monthCell.disabled}">
          {{monthCell.name | translate}}</div>
      </td>
    </tr>
    </tbody>
  </table>
  <table *ngIf="selectorMode === SelectorMode.YEAR" class="year-table">
    <tbody [@slideCalendar]="viewState" (@slideCalendar.done)="resetViewState()">
      <tr>
        <td colspan="5">
          <button md-icon-button class="year-btn-cell" (click)="onPrevYears($event, yearTable[0][0].year)">
            <md-icon class="md-24" aria-label="Previous Years">expand_less</md-icon>
          </button>
        </td>
      </tr>
      <tr *ngFor="let yearRow of yearTable">
        <td *ngFor="let yearCell of yearRow"
            class="year-body-cell"
            (click)="onYearCellClicked(yearCell, $event)">
          <div class="year-body-cell-content"
               [ngClass]="{'selected': isSelectedYear(yearCell),
                         'active': isActiveYear(yearCell),
                         'thisyear': yearCell.curYear,
                         'disabled': yearCell.disabled}">
            {{yearCell.year}}</div>
        </td>
      </tr>
      <tr>
        <td colspan="5">
          <button md-icon-button class="year-btn-cell" (click)="onNextYears($event, yearTable[0][0].year)">
            <md-icon class="md-24" aria-label="Next Years">expand_more</md-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</md-card>

