<mat-card class="cal-card">
  <div class="cal-title">{{calTitle}}</div>
  <div class="cal-content">
    <table class="header-table">
      <tr>
        <td class="header-cell">
          <div class="header-cell-content">
            <button mat-icon-button (click)="onPrevMonth()">
              <mat-icon aria-label="Previous Month">chevron_left</mat-icon>
            </button>
            <button mat-button
                    class="header-cell-label"
                    (click)="onSelectMonthClicked($event)"
                    [@slideCalendar]="viewState"
                    (@slideCalendar.done)="resetViewState()">
              {{visibleMonth.monthTxt | translate}}
            </button>
            <button mat-icon-button (click)="onNextMonth()">
              <mat-icon aria-label="Next Month">chevron_right</mat-icon>
            </button>
          </div>
        </td>
        <td></td>
        <td class="header-cell">
          <div class="header-cell-content">
            <button mat-icon-button (click)="onPrevYear()">
              <mat-icon aria-label="Previous Year">chevron_left</mat-icon>
            </button>
            <button mat-button
                    class="header-cell-label"
                    (click)="onSelectYearClicked($event)"
                    [@slideCalendar]="viewState"
                    (@slideCalendar.done)="resetViewState()">
              {{visibleMonth.year}}
            </button>
            <button mat-icon-button (click)="onNextYear()">
              <mat-icon aria-label="Next Year">chevron_right</mat-icon>
            </button>
          </div>
        </td>
      </tr>
    </table>
    <table *ngIf="selectorMode === SelectorMode.CALENDAR" class="cal-table">
      <thead>
      <tr>
        <th class="cal-header-cell" scope="col" *ngFor="let label of momentService.dayLabels">{{label | translate}}</th>
      </tr>
      </thead>
      <tbody [@slideCalendar]="viewState" (@slideCalendar.done)="resetViewState()">
      <tr *ngFor="let dateRow of dateTable">
        <td *ngFor="let dateCell of dateRow.week"
            class="cal-body-cell"
            [ngStyle]="{'cursor': dateCell ? 'pointer' : ''}"
            [ngClass]="{'hovered-circle': getHoveredType(dateCell) === BorderType.CIRCLE,
                        'hovered-square': getHoveredType(dateCell) === BorderType.SQUARE,
                        'hovered-half-circle-left': getHoveredType(dateCell) === BorderType.HALF_CIRCLE_LEFT,
                        'hovered-half-circle-right': getHoveredType(dateCell) === BorderType.HALF_CIRCLE_RIGHT}"
            (click)="onCalCellClicked(dateCell, $event)"
            (mouseenter)="onMouseEnter(dateCell, $event)" (mouseleave)="onMouseLeave($event)">
          <div *ngIf="dateCell" class="cal-body-cell-content"
               [ngClass]="{'selected-circle': getSelectedType(dateCell) === BorderType.CIRCLE,
                           'selected-half-circle-left': getSelectedType(dateCell) === BorderType.HALF_CIRCLE_LEFT,
                           'selected-half-circle-right': getSelectedType(dateCell) === BorderType.HALF_CIRCLE_RIGHT,
                           'selected-square': getSelectedType(dateCell) === BorderType.SQUARE,
                           'active': isActiveDate(dateCell),
                           'today': dateCell.isToday,
                           'marked' : dateCell.marked,
                           'highlighted': dateCell.highlighted,
                           'disabled': dateCell.disabled}">
            <span>{{dateCell.dateObj.day}}</span>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
    <table *ngIf="selectorMode === SelectorMode.MONTH" class="month-table">
      <tbody>
      <tr *ngFor="let monthRow of monthTable">
        <td *ngFor="let monthCell of monthRow"
            class="month-body-cell"
            (click)="onMonthCellClicked(monthCell, $event)">
          <div class="month-body-cell-content"
               [ngClass]="{'active': isActiveMonth(monthCell),
                           'thismonth': monthCell.curMonth,
                           'disabled': monthCell.disabled}">
            {{monthCell.name | translate}}</div>
        </td>
      </tr>
      </tbody>
    </table>
    <table *ngIf="selectorMode === SelectorMode.YEAR" class="year-table">
      <tbody [@slideCalendar]="viewState" (@slideCalendar.done)="resetViewState()">
      <tr>
        <td colspan="5">
          <button mat-icon-button class="year-btn-cell" (click)="onPrevYears($event)">
            <mat-icon class="mat-24" aria-label="Previous Years">expand_less</mat-icon>
          </button>
        </td>
      </tr>
      <tr *ngFor="let yearRow of yearTable">
        <td *ngFor="let yearCell of yearRow"
            class="year-body-cell"
            (click)="onYearCellClicked(yearCell, $event)">
          <div class="year-body-cell-content"
               [ngClass]="{'active': isActiveYear(yearCell),
                           'thisyear': yearCell.curYear,
                           'disabled': yearCell.disabled}">
            {{yearCell.year}}</div>
        </td>
      </tr>
      <tr>
        <td colspan="5">
          <button mat-icon-button class="year-btn-cell" (click)="onNextYears($event)">
            <mat-icon class="mat-24" aria-label="Next Years">expand_more</mat-icon>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</mat-card>
