:host /deep/ {
  td-navigation-drawer md-toolbar .md-body-1 {
    margin-top: 10px;
    font-size: 15px;
    font-weight: 500 !important;
  }

  md-toolbar .mat-icon.md-icon-logo {
    padding-top: 7px;
    width: 140px;
    height: auto
  }

  td-navigation-drawer md-toolbar .mat-icon.md-icon-logo {
    width: 160px;
    height: auto
  }

  md-icon.flag-icon-jp {
    height: 18px !important;
    border: solid 1px rgba(0,0,0,.2);
  }
}

.searchmenu-container {
  margin: 0;
  width: 100%;
  height: 100%;
}

.searchmenu-container md-sidenav {
  width: 450px;
  //opacity: 0.2;
  //background-color: inherit;
}
@media (max-width: 768px) {
  .searchmenu-container md-sidenav {
    width: 100%;
  }
}

.searchmenu-container md-sidenav {
  max-width: 500px;
}

//.searchmenu-container .mat-sidenav-content,
//.searchmenu-container md-sidenav {
//  display: flex;
//  overflow: visible;
//}

.search-icon {
  font-size: 30px !important;
  line-height: 31px !important;
}

td-layout-footer > div {
  height: 20px;
}
