<td-layout #layout>
  <td-navigation-drawer [logo]="sideNavData.logo.icon.class" [name]="getName()">
    <aj-navlist
      [navListData]="sideNavData.appMenu"
      (clicked)="layout.close() && sidenav.close() && onClicked($event)">
    </aj-navlist>

    <mat-divider></mat-divider>

    <aj-navlist
      *ngIf="!authenticated"
      [navListData]="sideNavData.authMenu"
      (clicked)="layout.close() && sidenav.close()">
    </aj-navlist>
    <aj-navlist
      *ngIf="authenticated"
      [navListData]="sideNavData.signoutMenu"
      (clicked)="layout.close() && sidenav.close() && signout()">
    </aj-navlist>

    <div td-navigation-drawer-menu>
      <aj-navlist
        [navListData]="sideNavData.userMenu"
        (clicked)="layout.close()">
      </aj-navlist>
    </div>
  </td-navigation-drawer>

  <td-layout-nav>
    <div td-toolbar-content layout="row" layout-align="center center" flex>
      <button mat-icon-button td-menu-button tdLayoutToggle>
        <aj-icon [data]="headerData.toggleButton.icon"></aj-icon>
      </button>
      <aj-icon
        [data]="headerData.logo.icon"
        [cssClass]="'mat-icon-logo cursor-pointer'"
        [link]="headerData.logo.link">
      </aj-icon>
      <span flex></span>
      <button mat-icon-button (click)="sidenav.toggle()">
        <aj-icon [data]="headerData.searchLink.icon" [cssClass]="'search-icon'"></aj-icon>
      </button>
      <div *ngIf="widthIsMedium()">
        <aj-menu [menuData]="headerData.languageMenu" (clicked)="onClicked($event)"></aj-menu>
      </div>
      <div *ngIf="widthIsMedium() && !authenticated">
        <aj-menu [menuData]="headerData.userMenu"></aj-menu>
      </div>
      <div *ngIf="widthIsMedium() && authenticated">
        <aj-menu [menuData]="headerData.userMenuAuthed" (clicked)="signout()"></aj-menu>
      </div>
    </div>

    <mat-sidenav-container class="searchmenu-container">
      <mat-sidenav #sidenav mode="over" align="end" opened="false">
        <aj-searchmenu></aj-searchmenu>
      </mat-sidenav>
      <router-outlet></router-outlet>
    </mat-sidenav-container>
    <td-layout-footer>
      <div
        layout="row"
        layout-align="start center"
        class="mat-caption"
        innerHTML="{{footerData.content.display | translate}}">
      </div>
    </td-layout-footer>
  </td-layout-nav>

</td-layout>


