mat-form-field {
  width: 100%;
  margin: 3px 0 3px;
}

//:host /deep/ .mat-input-element:disabled {
//  color: currentColor;
//}
//:host /deep/ .mat-input-underline.mat-disabled {
//  background-image: none;
//  background-size: auto;
//  background-repeat: inherit;
//  background-position: 0;
//  background-color: rgba(0, 0, 0, .12);
//}

:host /deep/ input:-webkit-autofill,
:host /deep/ input:-webkit-autofill:hover,
:host /deep/ input:-webkit-autofill:focus,
:host /deep/ input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-box-shadow: 0 0 0 1000px #fff inset;
}

:host /deep/ mat-form-field .mat-form-field-placeholder {
  white-space: pre-wrap;
}
