<mat-form-field [class.mat-input-invalid]="formValidateFailed()">
  <input id="{{inputData.name}}"
         matInput
         validateonblur
         type="{{type}}"
         readonly="{{readonly}}"
         [formControl]="formControl"
         (click)="onClick($event)"
         placeholder="{{inputData.placeHolder | translate}}">
  <mat-error *ngIf="validateFailed()">
    {{getValidatorError() | translate}}
  </mat-error>
  <mat-hint *ngIf="formValidateFailed()" style="color: red">
    {{getFormValidateError() | translate}}
  </mat-hint>
</mat-form-field>

