<mat-form-field [class.mat-form-field-invalid]="formValidateFailed()">
  <input id="{{inputData.name}}"
         matInput
         validateonblur
         type="{{type}}"
         readonly="{{readonly}}"
         [formControl]="formControl"
         (click)="onClick($event)"
         (blur)="focused = false"
         (focus)="focused = true"
         placeholder="{{inputData.placeHolder | translate}}">
  <mat-error *ngIf="validateFailed()">
    {{getValidatorError() | translate}}
  </mat-error>
  <mat-hint *ngIf="!formValidateFailed() && inputData.hint && focused">
    {{inputData.hint | translate}}
  </mat-hint>
  <mat-hint *ngIf="formValidateFailed()" style="color: red">
    {{getFormValidateError() | translate}}
  </mat-hint>
</mat-form-field>
