<div #anchor></div>
<aj-profiledetail [title]="formData.name">
  <form novalidate [formGroup]="formGroup" (ngSubmit)="onChangePassword($event)" #form="ngForm">
    <aj-message *ngIf="message" [data]="message"></aj-message>

    <aj-input
      *ngFor="let element of inputElements"
      [inputData]="element"
      [type]="element.name !== 'username' ? passwordType : 'text'"
      [formValidatorData]="getFormValidatorData(element.name)"
      (bindControl)="onBindControl($event)"
      (clicked)="onClicked($event)">
    </aj-input>
    <div class="profile-showpassword">
      <mat-checkbox
        [disableRipple]="true"
        [color]="'primary'"
        (change)="onPasswordTypeChange()">{{formElements.showPassword.display | translate}}
      </mat-checkbox>
    </div>

    <div class="profile-btn-container">
      <button
        mat-button
        type="submit"
        class="profile-btn"
        [disabled]="!isValid()"
        [ngClass]="{'disabled': !isValid()}">
        {{formElements.submitButton.display | translate}}
      </button>
    </div>
  </form>
</aj-profiledetail>
