@media (min-width: 960px) {
  md-card {
    width: 500px;
    margin: 30px auto;
    padding: 0
  }
  :host /deep/ md-card-header {
    background-color: #616161;
    padding: 25px 20px 15px;
    color: white;
    font-size: 20px !important;
    font-weight: bold;
    //padding: 30px 30px 10px;
  }
  :host /deep/ md-card-content {
    padding: 30px 40px !important;
  }
}

@media (max-width: 959px) {
  md-card {
    height: calc(100% - 60px) !important;
    width: calc(100% - 60px) !important;
    margin: 10px !important;
    padding: 20px 20px !important;
  }
  :host /deep/ md-card-header {
    //padding: 0 5px 0;
    border-bottom: 1px solid rgba(0,0,0,.25);
    line-height: 26px;
    padding: 5px 0 5px;
    font-size: 20px !important;
    font-weight: bold;
    opacity: 0.6;
  }
  :host /deep/ md-card-header .mat-card-header-text {
    margin: 0 !important;
  }
  :host /deep/ md-card-header span {
    margin: 0 auto;
  }
  .back-link-icon {
    position: absolute;
  }
  .back-link-icon > a {
    text-decoration: none;
    color: inherit;
    outline: none;
  }
}
