<div #anchor></div>
<aj-profiledetail [title]="formData.name">
  <form novalidate [formGroup]="formGroup" (ngSubmit)="onSave($event)">
    <aj-message *ngIf="message" [data]="message"></aj-message>
    <aj-input
      #firstInput
      [inputData]="formElements.username"
      [type]="'text'"
      [readonly]="formElements.username.readOnly"
      (clicked)="onClicked($event)"
      (bindControl)="onBindControl($event)">
    </aj-input>
    <aj-input
      [inputData]="formElements.fullname"
      [type]="'text'"
      (clicked)="onClicked($event)"
      (bindControl)="onBindControl($event)">
    </aj-input>
    <aj-input
      [inputData]="formElements.email"
      [type]="'text'"
      [readonly]="formElements.email.readOnly"
      (clicked)="onClicked($event)"
      (bindControl)="onBindControl($event)">
    </aj-input>
    <aj-select
      [inputData]="formElements.gender"
      (onOpen)="onClicked($event)"
      (bindControl)="onBindControl($event)">
    </aj-select>
    <aj-datepicker
      [data]="formElements.birthday"
      (clicked)="onClicked($event)"
      (bindControl)="onBindControl($event)">
    </aj-datepicker>
    <!--<aj-datepicker-->
      <!--[data]="formElements.dateRangePicker"-->
      <!--[mode]="datePickerMode"-->
      <!--(bindControl)="onBindControl($event)">-->
    <!--</aj-datepicker>-->
    <aj-input
      [inputData]="formElements.address"
      [type]="'text'"
      (clicked)="onClicked($event)"
      (bindControl)="onBindControl($event)">
    </aj-input>
    <aj-input
      [inputData]="formElements.postcode"
      [type]="'text'"
      (clicked)="onClicked($event)"
      (bindControl)="onBindControl($event)">
    </aj-input>
    <aj-input
      [inputData]="formElements.phonenumber"
      [type]="'text'"
      (clicked)="onClicked($event)"
      (bindControl)="onBindControl($event)">
    </aj-input>
    <div class="profile-btn-container">
      <button
        class="profile-btn"
        type="submit"
        [disabled]="!isValid()"
        [ngClass]="{'disabled': !isValid()}">
        {{ formElements.saveButton.display | translate }}
      </button>
    </div>
  </form>
</aj-profiledetail>
