<div class="message-container">

  <div class="message-box">
    <div *ngIf="data.message.icon" class="message-icon" [ngStyle]="{'color': getIconColor()}">
      <i class="fa" aria-hidden="true" [ngClass]="data.message.icon.class"></i>
    </div>
    <div class="message-content">
      <span>{{ data.message.display | translate }}</span>
      <div *ngIf="data.link" class="message-link">
        <a [routerLink]="data.link.link.param ? [data.link.link.path, data.link.link.param] : [data.link.link.path]">
          {{ data.link.display | translate }}
        </a>
      </div>
    </div>
  </div>

  <div *ngIf="data.navLink" class="message-nav-link">
    <a [routerLink]="data.navLink.link.param ? [data.navLink.link.path, data.navLink.link.param] : [data.navLink.link.path]">
      <i class="fa" aria-hidden="true" [ngClass]="data.navLink.icon.class">
      </i><span>{{ data.navLink.display | translate }}</span>
    </a>
  </div>
</div>

