mat-nav-list {
  padding: 20px 10px;
}

td-expansion-panel {
  box-shadow: none;
}

// tweak sidenav language submenu
:host /deep/ .td-expansion-label .mat-list-item-content {
  padding: 0 !important;
}
:host /deep/ .td-expansion-label .mat-list-item:hover, .td-expansion-label .mat-list-item.mat-list-item-focus {
  background: inherit !important;
}
:host /deep/ .td-expansion-content .mat-list-item-content {
  padding-left: 40px !important;
}

:host /deep/ .mat-list-item-focus {
  background-color: inherit !important;
}

@media (min-width: 600px) {
  .item-selected {
    //background-color: rgba(0,0,0,.15);
    background-color: #e0e0e0 !important;
  }
}
