<md-nav-list>
  <ng-template let-item let-i="index" ngFor [ngForOf]="navListData.list">
    <a *ngIf="item.type === 'link'"
       md-list-item
       [routerLink]="item.link ? item.link.param ? [item.link.path, item.link.param] : [item.link.path] : []"
       [ngClass]="{'item-selected': selectable && selectedIndex === i}"
       (click)="onClicked(i, item)">
      <aj-icon *ngIf="item.icon" [data]="item.icon"></aj-icon>
      <span *ngIf="!multiLine">{{item.display | translate}}</span>
      <h3 *ngIf="multiLine" md-line> {{item.display | translate}} </h3>
      <p *ngIf="multiLine" md-line> {{item.description | translate}} </p>
    </a>

    <td-expansion-panel *ngIf="item.type === 'list'">
      <ng-template td-expansion-panel-label>
        <a md-list-item
           disableRipple
           [ngClass]="{'item-selected': selectable && selectedIndex === i}"
           (click)="onClicked(i, item)">
          <aj-icon *ngIf="item.icon" [data]="item.icon"></aj-icon>
          {{item.display | translate}}
        </a>
      </ng-template>
      <md-list>
        <a *ngFor="let subItem of item.list"
           md-list-item
           [routerLink]="subItem.link ? subItem.link.param ? [subItem.link.path, subItem.link.param] : [subItem.link.path] : []"
           (click)="onClicked($event)">
          <aj-icon *ngIf="subItem.icon" [data]="subItem.icon"></aj-icon>
          <span>{{subItem.display | translate}}</span>
        </a>
      </md-list>
    </td-expansion-panel>
  </ng-template>
</md-nav-list>
