<md-nav-list>
  <ng-template let-item ngFor [ngForOf]="navListData.list">
    <a *ngIf="item.type === 'link'"
       md-list-item
       [routerLink]="item.link ? item.link.param ? [item.link.path, item.link.param] : [item.link.path] : []"
       (click)="onClicked($event)">
      <aj-icon *ngIf="item.icon" [data]="item.icon"></aj-icon>
      {{item.display | translate}}
    </a>

    <td-expansion-panel *ngIf="item.type === 'list'">
      <ng-template td-expansion-panel-label>
        <a md-list-item disableRipple>
          <aj-icon *ngIf="item.icon" [data]="item.icon"></aj-icon>
          {{item.display | translate}}
        </a>
      </ng-template>
      <md-list>
        <a *ngFor="let subItem of item.list"
           md-list-item
           [routerLink]="subItem.link ? subItem.link.param ? [subItem.link.path, subItem.link.param] : [subItem.link.path] : []"
           (click)="onClicked($event)">
          <aj-icon *ngIf="subItem.icon" [data]="subItem.icon"></aj-icon>
          {{subItem.display | translate}}
        </a>
      </md-list>
    </td-expansion-panel>
  </ng-template>
</md-nav-list>
