<md-card>
  <md-card-header *ngIf="widthLessThanMedium()">
    <div *ngIf="widthLessThanMedium()" class="back-link-icon">
      <a [routerLink]="[menuElements.backLink.link.path]">
        <aj-icon [data]="menuElements.backLink.icon" [cssClass]="'cursor-pointer'"></aj-icon>
      </a>
    </div>
    <span>{{menuElements.title.display | translate}}</span>
    <!--<md-card-title>{{menuElements.title.display | translate}}</md-card-title>-->
  </md-card-header>
  <md-card-content>
    <aj-navlist
      [navListData]="menuElements.menuList"
      [(selectedIndex)]="selectedIndex"
      [showDivider]="widthLessThanMedium()"
      [showNavIcon]="widthLessThanMedium()">
    </aj-navlist>
  </md-card-content>
</md-card>
