<button mat-icon-button matTooltip="{{menuData.tooltip | translate}}" [matMenuTriggerFor]="menu">
  {{menuData.display | translate}}
  <aj-icon *ngIf="menuData.icon" [data]="menuData.icon"></aj-icon>
</button>

<mat-menu #menu="matMenu">
  <ng-template let-item ngFor [ngForOf]="menuData.list">
    <button
      mat-menu-item
      [routerLink]="item.link ? item.link.param ? [item.link.path, item.link.param] : [item.link.path] : []"
      (click)="onClicked(item)">
      <aj-icon *ngIf="item.icon" [data]="item.icon"></aj-icon>
      <span *ngIf="item.display">{{item.display | translate}}</span>
    </button>
  </ng-template>
</mat-menu>
