<form novalidate [formGroup]="formGroup" (ngSubmit)="onResetPassword($event)">
  <aj-message *ngIf="message" [data]="message"></aj-message>

  <div [hidden]="!showInput">
    <aj-input
      *ngFor="let element of inputElements"
      [inputData]="element"
      [type]="element.name !== 'username' ? passwordType : 'text'"
      [disabled]="element.readOnly ? true : false"
      [formValidatorData]="getFormValidatorData(element.name)"
      (bindControl)="onBindControl($event)"
      (clicked)="onClicked($event)">
    </aj-input>
    <div class="auth-showpassword">
      <md-checkbox
        [disableRipple]="true"
        [color]="'primary'"
        (change)="onPasswordTypeChange()">{{formElements.showPassword.display | translate}}
      </md-checkbox>
    </div>
  </div>

  <div [hidden]="!showInput" class="auth-btn-container">
    <button
      class="auth-btn"
      [disabled]="!isValid()"
      [ngClass]="{'disabled': !isValid()}"
      type="submit">
      {{formElements.submitButton.display | translate}}
    </button>
  </div>
</form>
