/*@import '~@angular/material/prebuilt-themes/indigo-pink.css';*/

html, body {
  /*-ms-overflow-style: -ms-autohiding-scrollbar;*/
  //font-family: RobotoDraft,Roboto,Helvetica Neue,sans-serif;
  height: 100%;
  -ms-overflow-style: none;  /* IE 10+ */
  /* overflow: -moz-scrollbars-none;   Firefox */
}
::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
  /* width: 0px;   remove scrollbar space */
  /* background: transparent;   optional: just make scrollbar invisible */
}

// Custom style for loading elements without height
.will-load {
    min-height: 80px;
}
// Href line height wasn't right for md-icon-button
a[md-icon-button] {
    line-height: 36px;
}

md-icon {
  font-size: 26px !important;
  line-height: 26px !important;
}

// Capitalize
.text-capital {
  text-transform: capitalize;
}

md-card[hidden] {
  display: none;
}
