<!--<aj-navbar></aj-navbar>-->
<div class="home-content">
  <div class="home-background" [ngStyle]="{ 'background-image': 'url(' + backgroundImage + ')'}"></div>

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <p>hahahaha</p>
  <p>hahahaha</p>
  <p>hahahaha</p>
  <p>hahahaha</p>
  <p>hahahaha</p>
  <p>hahahaha</p>
  <p>hahahaha</p>
  <p>hahahaha</p>
  <p>hahahaha</p>
  <p>hahahaha</p>
  <p>hahahaha</p>
  <p>hahahaha</p>
  <p>hahahaha</p>
  <p>hahahaha</p>
  <p>hahahaha</p>
  <p>hahahaha</p>
  <p>hahahaha</p>
  <p>hahahaha</p>
  <p>hahahaha</p>
  <p>hahahaha</p>
</div>



